---
---

/* @import "{{ site.theme }}";*/

$header-height: 8em;
$dfv-blue-dark: #0B2157;
$dfv-blue: #2549a4;
$extra-1: #B14F3A;
$extra-2: #4A710E;
$extra-3: #A3F02A;


$color-background: $dfv-blue-dark;
$color-foreground: #aaaaaa;
$color-link: $extra-3;

$max-width: 50em;
$max-width-half: $max-width / 2;

body, html {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	max-width:100%;
	width: 100vw;
}

header {
	box-sizing: border-box;
	width: 100%;
	height: $header-height;

	padding: 0;
	margin: 0;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	background: $color-foreground;

	nav {
		flex: 1 1 auto;
		ul {
			margin: 0;
			padding: 0;
			li {
				float: left;
				list-style: none;
				margin: 1em 1em 1em 0;

				a {
					font-size: xx-large;
					color: $dfv-blue;
					text-decoration: none;
					padding: .1em .5em;
				}

				a:hover {
					background: $dfv-blue-dark;
					color: $color-foreground;
				}
			}
		}
	}

	#logo {
		flex: 0 1 auto;
	}
}

.wrapper {
	box-sizing: border-box;
	min-height: 100vh;
	width: 100%;
	padding: $header-height 0 0;
	display: flex;
	flex-direction: column;
	background: $color-background;
	color: $color-foreground;

	#title {
		flex: 0 1 auto;
	}

	section {
		flex: 1 1 auto;
		padding: 0;
		margin: 0 1em;
	}

	footer {
		flex: 0 1 auto;
		margin-bottom: 1em;
	}

	a {
		color: $color-link;
		text-decoration: none;
	}

}

@media print, screen and (min-width: $max-width) {

	header, .wrapper section, .wrapper #title, footer span {
		padding-right: calc(50vw - #{$max-width-half});
		padding-left: calc(50vw - #{$max-width-half});
	}
}
