---
---

@import "{{ site.theme }}";

body, html {
    height: 100%;
}

#header {
    position: static;
    margin-bottom: 50px;
}


#header nav {
    background : 0;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper #title {
    flex: 0 1 auto;
}

.wrapper section {
    flex: 1 1 auto;
    padding: 0;
    margin: 0;
}

.wrapper footer {
    flex: 0 1 auto;
}

